.language-selector {
    width: 100%; 
    max-width: 300px; 
    
  
    .mat-select-panel {
      min-width: 200px !important;
      max-width: 300px !important;
    }
  
    .mat-option {
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: clip !important;
    }

    .cdk-overlay-pane {
      min-width: 200px !important;
      max-width: none !important;
      white-space: nowrap !important;
    }
  }