<div class="crew-list-container">
    <div class="header-actions">
      <h2>{{ 'CREW_LIST.TITLE' | translate }}</h2>
      <div class="button-group">
        <button mat-raised-button color="primary" (click)="openCrewForm()" >
          <mat-icon>add</mat-icon>
          {{ 'CREW_LIST.ADD_CREW' | translate }}
        </button>
    </div>
    </div>
  
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="crew-table">
          
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CREW_LIST.FIRST_NAME' | translate }}</th>
          <td mat-cell *matCellDef="let crew"> {{crew.firstName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CREW_LIST.LAST_NAME' | translate }}</th>
          <td mat-cell *matCellDef="let crew"> {{crew.lastName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="nationality">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CREW_LIST.NATIONALITY' | translate }}</th>
          <td mat-cell *matCellDef="let crew"> {{crew.nationality}} </td>
        </ng-container>
  
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CREW_LIST.CREW_TITLE' | translate }}</th>
          <td mat-cell *matCellDef="let crew"> {{crew.title}} </td>
        </ng-container>
  
        <ng-container matColumnDef="daysOnBoard">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CREW_LIST.DAYS_ON_BOARD' | translate }}</th>
          <td mat-cell *matCellDef="let crew"> {{crew.daysOnBoard}} </td>
        </ng-container>
  
        <ng-container matColumnDef="dailyRate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CREW_LIST.DAILY_RATE' | translate }}</th>
          <td mat-cell *matCellDef="let crew"> {{crew.dailyRate}} </td>
        </ng-container>
  
        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CREW_LIST.CURRENCY' | translate }} </th>
          <td mat-cell *matCellDef="let crew"> {{crew.currency}} </td>
        </ng-container>
  
        <ng-container matColumnDef="totalIncome">
          <th mat-header-cell *matHeaderCellDef> {{ 'CREW_LIST.TOTAL_INCOME' | translate }}</th>
          <td mat-cell *matCellDef="let crew"> {{getTotalIncome(crew)}} {{crew.currency}} </td>
        </ng-container>

        <ng-container matColumnDef="certificates">
          <th mat-header-cell *matHeaderCellDef>{{ 'CREW_LIST.CERTIFICATES' | translate }}</th>
          <td mat-cell *matCellDef="let crew"> {{getCertificateCount(crew)}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>{{ 'CREW_LIST.ACTIONS' | translate }}</th>
            <td mat-cell *matCellDef="let crew">
              <button mat-icon-button [matMenuTriggerFor]="menu"#menuTrigger="matMenuTrigger"  aria-label="Actions">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a mat-menu-item [routerLink]="['/crew', crew.id]">
                  <mat-icon>visibility</mat-icon>
                  <span>{{ 'CREW_LIST.VIEW_CARD' | translate }}</span>
                </a>
                <button mat-menu-item (click)="openCrewForm(crew)">
                  <mat-icon>edit</mat-icon>
                  <span>{{ 'CREW_LIST.EDIT' | translate }}</span>
                </button>
                <button mat-menu-item (click)="confirmDelete(crew)">
                  <mat-icon>delete</mat-icon>
                  <span>{{ 'CREW_LIST.DELETE' | translate }}</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  
  
    </div>
  </div>
  


