<h2 mat-dialog-title>
  {{ 'CERTIFICATE_TYPE.TITLE' | translate }}
</h2>
<mat-dialog-content>
  <form [formGroup]="certificateTypeForm" class="certificate-type-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'CERTIFICATE_TYPE.NAME' | translate }}</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="certificateTypeForm.get('name')?.hasError('required')">
        {{ 'CERTIFICATE_TYPE.NAME' | translate }} is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'CERTIFICATE_TYPE.DESCRIPTION' | translate }}</mat-label>
      <input matInput formControlName="description" required>
      <mat-error *ngIf="certificateTypeForm.get('description')?.hasError('required')">
        {{ 'CERTIFICATE_TYPE.DESCRIPTION' | translate }} is required
      </mat-error>
    </mat-form-field>


  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'CERTIFICATE_TYPE.CANCEL' | translate }}</button>
  <button mat-raised-button color="primary" [disabled]="certificateTypeForm.invalid" (click)="saveCertificateType()">
    {{ 'CERTIFICATE_TYPE.SAVE' | translate }}
  </button>
</mat-dialog-actions>
